{% if config_context.users is defined %}
{% for user in config_context.users %}
{% set stype = user.secret_type | default('secret') %}
{% if stype == 'secret' %}
username {{ user.name }} privilege {{ user.privilege | default(15) }} secret {{ user.password }}
{% else %}
username {{ user.name }} privilege {{ user.privilege | default(15) }} password 0 {{ user.password }}
{% endif %}
{% endfor %}
{% endif %}
! Ensure ansible management user
username ansible_user privilege 15 password 0 ansible
